/* STYLING FOR THE SWIPEVIEW MODULE TOC

	1. WRAPPER
	2. FILMSTRIP NAVIGATION - CALLED #NAVSWIPE
	3. HOVER SHOW NAV ARROWS
	4. SWIPEVIEW LOADING CLASS
*/


/* 1. WRAPPER */

#wrappiest{
	@include col(10);
	position: relative;
	// height:90%;
	overflow: hidden;
	@include box-sizing(border-box);
	background-color: $myDivBg;
	border-color: $borderGray;
	border-width: $myDivBorderWidth;
	border-style: solid;
	@include border-radius($myDivBorderRadius);
	@include box-shadow($myDivBoxShadow);
	-webkit-tap-highlight-color: rgba(0,0,0,0); //this disables the tap-highlight color in safari on ipad

	@include respond-to(portrait){
	  	@include col(10);
	  	// height: 80%;
  	}

  	@include respond-to(small){
  		@include col(12);
  	}
}
#swipewrapper {
	@include box-sizing(border-box);
	overflow: visible !important;
	width: 95.00%;
	height:100%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

/* 2. FILMSTRIP NAVIGATION - NAVSWIPE */
#navswipe {
	z-index:100;
	@include border-radius($myDivBorderRadius);
	margin-bottom: 6em;
	margin-top: 0.5em;
}

#navswipe li {
	overflow:hidden;
	text-align:center;
	@extend .media;	
	display: table;
	@include border-radius($myDivBorderRadius);
	position: relative;
	width: 100%;
	margin: 0.5em 0;
}

#navswipe li#prev {
	margin-left:5px;
	background:transparent;
	color: white;
}

#navswipe li#next {
	margin-right:0;
	background:transparent;
	color: white;
}

#navswipe li.selected {
	background:rgba(255,255,255,0.4);
	border: 1px solid $myDivGlows;
	@include border-radius($myDivBorderRadius);
	@include box-shadow(0px 0px 9px 6px $myDivGlows);
}

/* 3. HOVER SHOW NAV ARROWS */
.no-touch #wrappiest:hover > .bottomnavigationbar{
  display: block;
}

/* SWIPEVIEW LOADING CLASS */
#swipewrapper > div > .swipeview-loading{
	// background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#555)),
	// 	-webkit-gradient(linear, 0 0, 100% 0, from(#777), to(#777));
	// background-position:50% 50%, 50% 50%;
	// background-size:200px 140px, 210px 150px;
	// background-repeat:no-repeat;
	background-color: $black;
}

.swipe_loading_indicator{
	display: none;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-32px;
   	margin-left:-32px;
}