<div class ="about_author_main">

<h3 class = "author_desc">Hi - I'm the Author! <%= @trip.author_id %>
Look at me!</h3>

        <ul class="media-list">
          <li class="media" >
            <img class="media-object" data-src="holder.js/160x120">
          </li>
        </ul>


</div>