<h1>Editing trip</h1>
<% if admin? %>
  <%= render 'form' %>

  <%= link_to 'Show', @trip %> |
  <%= link_to 'Back', @trip %> |
  <%= link_to 'Destroy', @trip, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
