<div class = "container">

<!-- Begin Form Completion Status Container -->
<div class = "row">
<div class = "publish_trip_completion_status">
  <div class = "completion_status stage1">
    Create Trip
  </div>
  <div class = "completion_status stage2">
    Add Activities
  </div>
  <div class = "completion_status stage3">
    Share
  </div>
</div>
</div>
<!-- End Form Completion Status Container -->

<!-- Begin Row-->
<div class = "row">
<!-- Begin Collapser Container-->
<div class = "publish_trip_collapser span12">
  
  <!-- Begin Collapse 1-->
  <div class = "publish_trip_collapse_header">
  Trip Details
  <div class = "collapser_icon"><i class = "icon-chevron-up"></i></div>
  </div>
  <div class = "publish_trip_collapse_content">
    <%= render "shared/publish/publish_trip_details_form" %>
  </div>
  <!-- End Collapse 1-->

  <!-- Begin Collapse 2-->
  <div class = "publish_trip_collapse_header publish_form_activity_details">
    Activity Details
    <div class = "collapser_icon"><i class = "icon-chevron-down"></i></div>
  </div>
  
  <div class = "publish_trip_collapse_content publish_form_activity_details_content">
    <div class = "publish_trip_sort_activities">
       <%= render "shared/publish/publish_trip_activity_order" %> 
    </div>
    <div class = "publish_trip_create_activities">
      <%#= render :partial => "shared/publish/publish_trip_activities_form"%>
    </div>
  </div> 
  <!-- End Collapse 2-->
  
  </div>
  <!-- End Row -->
</div>
<!-- End Collapser Container-->
</div>