#scrolltotop {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  width:100px;
  background-color: rgba(57, 135, 189, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#99EEEEEE',EndColorStr='#99EEEEEE');
  text-align:center;
  padding:5px;
  position:fixed;
  bottom:16px;
  right:16px;
  cursor:pointer;
  color:white;
  text-decoration:none;
  border:1px solid #C9C9C9;
}

/** Foursquare Attribution **/
.index_footer{
  border-top: 1px solid $borderGray;
}
.index_foursquare_attribution{
  color: #666;
  padding: 1% 0;
  float: right;

}

.index_social_icon{
  height: 16px;
  width: 16px;
  margin-bottom: 5px;
}