/* STYLING FOR THE FRONT INDEX PAGE AND SEARCH BARS
  * VARIABLES
  * BODY STYLES
  * HERO UNIT
  * RESULTS SEARCH BAR
  * RESULTS CONTAINER
  * TRIP RESULTS THUMBNAIL CONTAINER
  * TRIP RESULTS CAPTION BADGE
  * FILTER BY LANDMARK BAR
  * OVERVIEW MODAL AND TABLE
  * SEARCH VALIDATION
  * FRONT PAGE CONVERSATION
*/


/* Variables */
$resultSubtitleColor: dimgrey;///#08c;
$colorBorderWeight: 6px solid;

/* Body Styles */ 
// .navbar-fixed-top .container{
//   @include respond-to(widescreen){
//     width: 1180px;
//   }
// }

.results_flash_message{
  .alert{
    margin-bottom: 0.5%;
  }
}

.middle_results_container{
  background-color: transparent;
  padding-top: 1%;
  // @include box-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
  // padding: 2%;
  // margin-top: 1%;
  // margin-bottom: 0%;
  // @include border-radius($myDivBorderRadius);
}

/* Hero Unit Styles */ 
.big_image_header{
  position: relative;
  @include clearfix;
  height: 475px;
  padding: 0;
  top: -30px;
  margin-bottom: -2%;
  border-bottom: 5px solid $myPrimaryBlue;
  @include border-radius(0);
  @include box-shadow(0px 4px 4px rgba(0, 0, 0, 0.3))
}

.hero_tag_line{
  // position: absolute;
  // top: 10%;
  // left: 4%;
  position: relative;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 4em;
  line-height: 1;
  text-shadow: 0px 3px 3px black;
  letter-spacing: -1px;
  // font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
  // margin-bottom: 4%;
}

.splash_image_container{
  position: absolute;
  top: 0;
  left: 0;
  height: 475px;
  width: 100%;
  background-color: $black;
  // background-image: url("http://farm3.staticflickr.com/2534/3896485602_8ec732a285_b_d.jpg");
  // background-image: url("/assets/splash_images/Positano-Seaview-1800x687_1-IMG_0572.jpg");
  background-image: url("/assets/splash_images/paris_street_zoetnet_4850848041_flickr_med.jpg");
  background-repeat: no-repeat;
  background-size: 1600px auto;
  background-position-x: center;
  background-position-y: 50%;
  // margin: 0 auto;
}
.text_standout_blob{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/assets/splash_images/text_standout_blob.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 50%;
  background-size: 1600px auto;
  height: 400px;
  width: 100%;
}

.splash_image_attribution{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $transBlack;
  color: $white;
  font-size: em(10px);
  padding: 0 5px;
}

.splash_form_container{
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  margin: 0 auto;
  font-size: $baseFontSize;
  .form_centering{
  	position: relative;
  	max-width: 720px;
  	margin: 0 auto;
    color: white;
    // background-color: rgba(0,0,0,.6);
    // padding: 0.5% 1%; 
    @include border-radius($myDivBorderRadius);
    @include clearfix;  
    @include respond-to(portrait){
      max-width: 680px;
    }
  	.hero_form{
      // margin: 0 auto;
      // width: 100%;
      padding: 5px;
      position: relative;
      @include clearfix;
      background-color: $transBlack;
      @include border-radius($myDivBorderRadius);
      float: left;
  	}
    .form_dialog{
      margin: 1% 0;
      text-shadow: 0px 1px 1px black;
      font-size: 1.5em;
      // padding-left: 2%;
      // font-weight: 300;
    }
  }
}

.place_text_field{
  // height: 2em;
}

.place_dropdown_field{
  margin-bottom: 0;
  @include respond-to(portrait){
    margin-bottom: 2%;
  }

}

.ui-multiselect.traveler_type_multiselect{
  margin-bottom: 0;
  height: 30px;
  font-size: 14px;
  color: #555;
  @include respond-to(portrait){
    margin-bottom: 2%;
  }
}
.ui-multiselect-menu.traveler_type_multiselect{
  .ui-multiselect-header{
    border: none;
  }
  .ui-multiselect-checkboxes label input{
    top: -3px;
    margin-right: 3px;
  }
  .ui-multiselect-checkboxes li label.ui-state-hover{
    background-color: rgba(0,0,0,.1);
  }    
}

.hero_form_left{
  float: left;
  position: relative;
  margin-right: 5px;
  margin-bottom: 0;
  div.bootstrap-select{
    margin-bottom: 0;
    span.caret{
      border-top-color:#888888;
    }
  }
}

.hero_from_prepend{
  float: left;
  color: $black;
  margin-right: 5px;
  margin-bottom: 0;
}

.hero_days_append{
  float: left;
  color: $black;
  margin-right: 5px;
  margin-bottom: 0;
  .bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"]{
    width: 100px;
    margin-bottom: 0px;
    span.caret{
      border-top-color:#888888;
    }
  }  
  // select{
  //   width: 100px;
  // }
}

.splash_submit_button{
  float: left;
}

#search_submit_button{
  height: 30px;
}
/* Results Searchbar */

.results_searchbar{
  text-align: center;
  border-color: $borderGray;
  border-width: $myDivBorderWidth;
  border-style: solid;
  @include border-radius($myDivBorderRadius);
  @include box-shadow($myDivBoxShadow);
  background-color: $myDivBg;
  @include background-image(linear-gradient(top, #f6f6f6 0%,#e5e5e5 100%));
  margin-bottom: 1%;
  // margin-bottom: 0;
  padding: 1% 0;
  height: 30px;
}

.results_form_centering{
  display: inline-block;
  // padding-top: 0.5%;
}

.results_hero_form{
  @include clearfix;
  margin-bottom: 0;
  .hero_from_prepend{
    margin-bottom: 0;
  }
  .hero_days_append{
    margin-bottom: 0;
    margin-left: 0;
  }
}

.results_place_dropdown_field{
  margin-bottom: 0;
  width: 200px;
}

.ui-multiselect.results_traveler_type_multiselect{
  @extend .ui-multiselect.traveler_type_multiselect;
  margin-bottom: 0;
  width: 200px;
}

.ui-multiselect-menu.results_traveler_type_multiselect{
  .ui-multiselect-header{
    border: none;
  }
  .ui-multiselect-checkboxes label input{
    top: -3px;
    margin-right: 3px;
  }
  .ui-multiselect-checkboxes li label.ui-state-hover{
    background-color: rgba(0,0,0,.1);
  }    
}
/* Results Container */

.featured_results_title{
  margin: 1% 0 0.5% 0;
  // font-weight: normal;
}
.featured_results_subtitle{
  margin-bottom: em(30px);
}

.results_title{
  line-height: 1.2em;
  margin: 0;
  // font-weight: normal;
}

.results_subtitle_params{
  color: $resultSubtitleColor;
  margin-bottom: 1%;
  .divider{
    color: #ccc;
    padding: 0 5px;
  }
}
#trips_results_container{
  position: relative;
  // @include col(12);
  // width: 100%;
}

.continuous_loading_indicator_wrapper{
  text-align: center;
  border-color: $borderGray;
  border-width: $myDivBorderWidth;
  border-style: solid;
  @include border-radius($myDivBorderRadius);
  @include box-shadow($myDivBoxShadow);
  background-color: $myDivBg;
  padding: 0.5% 0;
  display: none;
  p{
    margin: 0;
  }
}

.continuous_scroll_spinner{
  // height: 25px;
  // width: 25px;
  margin: 0 auto;
  // background-image: url('/assets/spinners/ajax-loader-dots.gif');
  // background-size: 25px auto;
  // background-repeat: no-repeat;
  // background-position: center;
}

/* Trip Results Thumbnail Containers */ 
.trip_result_thumbnail_li{
  @include col(4);
  background-color: #fafafa;//$myDivBg;
  border-color: $borderGray;
  border-width: $myDivBorderWidth;
  border-style: solid;
  margin-bottom: 1%;
  @include box-sizing(border-box);
  @include border-radius($myDivBorderRadius);
  @include box-shadow($myDivBoxShadow);
  &:hover{
    border-color: darken($borderGray, 10%);
    border-width: $myDivBorderWidth + 0px;
    @include box-shadow(0px 0px 3px 3px rgba(0,0,0,0.1))
  }
  &.not_exact_result{
    border-style: dashed;
    border-width: $myDivBorderWidth+1;
    background-color: #f1f1f1;
  }
}

.trip_result_thumbnail_div{
  height: 440px;
  padding: 0;
  position: relative;
  border: none;
}

$resultThumbHeight: 60%;
.result_thumb_wrap{
  @include box-sizing(border-box);
  height: $resultThumbHeight;
  overflow: hidden;
  position: relative;
  @include respond-to(portrait){
    height: $resultThumbHeight - 10%;
  }
}

.image_link_thumbnail{
  // display: block;
  // margin: 0 auto;
  // max-width: 100%;
  height: auto;
  width: 100%;
  max-width: none;
  position: absolute;
}

.trip_results_caption{
  // border-top: 5px solid $myPrimaryBlue;
  min-height: 100-$resultThumbHeight;
  overflow: hidden;
  a{
    color: $black;
  }
  .caption_trip_title{
    margin: 0;
    margin-bottom: 1px;
    color: $black;
    // font-weight: 200;
    text-transform: capitalize;
  }
  .caption_trip_subtitle{
    color: $resultSubtitleColor;
    margin: em(4px) 0 0 0;
  }
  .caption_trip_summary{
    color: $black;
    margin: em(4px) 0 0 0;
  }
}

.solo-badge_border_top{
  border-top: $colorBorderWeight #18ADD7;
}

.couples-badge_border_top{
  border-top: $colorBorderWeight #B3564B; //#FF9284;  
}

.family-badge_border_top{
  border-top: $colorBorderWeight #00B1AB;
}

.group-badge_border_top{
  border-top: $colorBorderWeight #FFBF22;//#FF9A19;  
}

.other-badge_border_top{
  border-top: $colorBorderWeight #CD3542;  
}

.caption_box_social{
  position: absolute;
  bottom: 100-$resultThumbHeight+2;
  right: 2%;
  z-index: 1;
  @include respond-to(portrait){
    bottom: 100-$resultThumbHeight+2+10;
  }
}

/* Caption Badges */
.caption_badge_buttons{
  text-align: center;
  float: right;
  margin-right: 1%;
}

.caption_badges-ul{
  // @include clearfix;
  // width: 100px;
  margin: 0 auto;

  li{
    float: left;
    text-align: center;
    margin-left: 1%;
    width: 40px;
    position: relative;
    display: inline;
    a{
      display: block;
      position: relative;
      margin: 0; //half of the difference in width of li 40px-25px = 15px / 2 = 7.5px
      width: 40px;
    }
    p{
      text-align: center;
      font-size: 0.75em;
      line-height: 10px;
      font-weight: bold;
    }
  }
}

/* Filter by Landmarks */

.results_search_and_filter{
  &.bottom_color_border{
    border-bottom: 5px solid $myPrimaryBlue;
  }
}

#trips_landmark_container{
  width: 99%;
  margin-left: 0.5%;
}

.filter_by_bar_tab{
  border: $myDivBorderWidth solid $borderGray;
  border-bottom: 0;
  margin-bottom: -1px;
  float: left;
  position: relative;
  z-index: 2;
  background-color: $white;
  padding: 0.5% 1%;
  font-weight: bold;
  @include border-radius($myDivBorderRadius $myDivBorderRadius 0 0);
  @include clearfix;
}

.filter_by_bar{
  float: left;
  position: relative;
  @include clearfix;
  width: 100%;
  border-color: $borderGray;
  border-width: $myDivBorderWidth;
  border-style: solid;
  // border-top: 0;
  @include border-radius($myDivBorderRadius);
  @include box-shadow($myDivBoxShadow);
  background-color: #fafafa;//rgba(255, 255, 255, 0.7);
  padding: 0.5% 1%;
  margin: 0% 0 2% 0;
  @include box-sizing(border-box);
  font-size: 1em;
  color: dimgrey;
  @include respond-to(portrait){
    font-size: 0.95em;
  }
  hr{
  margin: 2px 0;
  border: 0;
  border-top: 1px solid $borderGray;
}
.filter_by_bar_fix{
  position: relative;
  z-index: 3; 
}
.location_filter_bar, .restaurant_filter_bar{
  padding: 0;
  margin: 0;
  background-color: transparent;
  }
}

.search_params_crumbs{
  background-color: rgba(0,0,0,0.3);
  color: $white;
  @include border-radius($myDivBorderRadius);
  @include box-shadow($myDivBoxShadow);
  padding: 0.5% 1%;
}


/* SEARCH VALIDATION */
.small_error_msg, .error_msg {
  // border-width: $myDivBorderWidth;
  // @include border-radius($myDivBorderRadius);
  // @include box-shadow($myDivBoxShadow);
  // padding: 0.5% 1%;
  float: left;
  width: 100%;
  text-align: left;
}

/* FRONT PAGE CONVERSATION */

.front_page_convo_container{
  // @include col(12);
}

.sample_trip_result_thumbnail_li{
  @include col(4);
  @extend .trip_result_thumbnail_li;
  @include box-sizing(border-box);
  .trip_result_thumbnail_div{
    height: 280px; 
    @include respond-to(portrait){
      height: 350px;
    } 
  }
  .result_thumb_wrap{
    height: 20%;
    text-align: center;
    background-color: #f1f1f1;
    padding-top: 2%;
    i{
      margin-top: 1%;
      color: $myPrimaryBlue;
      font-size: 3em;
    }
  }
  .trip_results_caption{
    @include box-sizing(border-box);
    min-height: 50%;
    border-top: 6px solid $myPrimaryBlue;
    padding: 1% 9px;
    position: relative;
    a{
      color: $linkColor;
    }
  }
}

//Begin Mailchimp embedded form
#mc_embed_signup{
  border-top: 1px solid $borderGray;
}

#mc-embedded-subscribe-form{
  margin: 0;
  padding: 2% 3%;
}

#mc_embed_signup label{
  font-size: em(12px);
  padding-bottom: 0;
  font-weight: bold;
}

#mc_embed_signup input.email{
  float: left;
  margin: 0;
  margin-right: 1%;
  text-indent: em(5px);
  width: 58%;
  min-width: 130px;
  @include respond-to(portrait){
    min-width: 80px;
    width: 50%;
  }
}

#mc_embed_signup input.button{
  float: left;
  width: 35%;
  min-width: 90px;
  margin: 0;
}

//End Mailchimp embedded form

.front_page_convo_wrapper{
  height: 280px;
  @include respond-to(portrait){
    height: 350px;
  } 
  float: left;
  overflow: hidden;
  margin-bottom: 1%;
  @include box-sizing(border-box);
  border-color: $borderGray;
  border-width: $myDivBorderWidth;
  border-style: solid;
  @include border-radius($myDivBorderRadius);
  @include box-shadow($myDivBoxShadow);
  background-color: $myDivBg;
  @include col(8);

  &:hover{
  border-color: darken($borderGray, 10%);
  border-width: $myDivBorderWidth + 0px;
  @include box-shadow(0px 0px 3px 3px rgba(0,0,0,0.1))
  }
}

.front_page_convo_header{
  height: 20%;
  padding: 1%;
  background-color: $grayLighter;
  @include box-sizing(border-box);
  .icon-question-sign{
    color: #8dc53c;
    font-size: 3em;
    float: left;
    margin-right: 1%;
  }
}

.front_page_convo_body{
  height: 85%;
  padding: 1%;
  overflow: scroll;
  border-top: 6px solid #8dc53c;
}

.front_convo_social_btn{
  position: absolute;
  right: 2%;
  bottom: 4%;
}

.front_convo_social_icon{
  height: 18px;
  width: 18px;
}