<!--Begin Filter by Landmarks Div Bar -->
<!--begin a. check if there is a trip_location_id param -->
<% unless params["trip_location_id"].blank? %>
  <div class = "filter-by-bar">
    <!--begin b. check if there is @locations -->
    <% if @locations.length > 0 %>
      <ul class="breadcrumb location-filter-bar">
        <li>Filter by location <span class="divider">|</span></li>

        <!--begin c. for items 1 thru 4 in @locations -->
        <% @locations[0..3].each_with_index do |location, index| %>
          <li>

            <%= link_to "#{location.name} (#{location.location_activities.count})", params.merge({:location => location.location_detail_id}), :remote=>true %> 

            <% if index < @locations.length - 1 %> 
              <span class="divider">|</span> 
            <% end %> 
          </li>
        <% end %>
        <!-- end c. for items 1 thru 4 in @locations -->
        
        <!--begin d. for items 5 thru last in @locations -->
        <% if @locations[4..-1] %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              See More
              <b class="caret"></b>
            </a>  
            
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <% @locations[4..-1].each_with_index do |location, index| %>
                <li>
                  <%= link_to "#{location.name} (#{location.location_activities.count})", params.merge({:location => location.location_detail_id}), :remote=>true %> 
                </li>
              <% end %>
        <% end %>
        <!--end d. for items 5 thru last in @locations -->
            </ul>
          </li>
      </ul>
    <% end %>
    <!--end b. check if there is @locations -->

  <hr/>

  <!--begin e. check if there is @restaurants -->
  <% if @restaurants.length > 0 %>
    <ul class="breadcrumb restaurant-filter-bar">
      <li>Filter by restaurant <span class="divider">|</span></li>

      <!--begin f. for items 1 thru 4 in @restaurants -->
      <% @restaurants[0..3].each_with_index do |restaurant, index| %> 
        <li> 
          
          <%= link_to "#{restaurant.name} (#{restaurant.food_activities.count})", params.merge({:restaurant => restaurant.restaurant_detail_id}), :remote=>true %> 
          <% if index < @restaurants.length - 1 %> 
            <span class="divider">|</span> 
          <% end %> 

        </li>
      <% end %>
      <!-- end f. for items 1 thru 4 in @restaurants -->

      <!-- begin g. for items 5 thru last in @restaurants -->
      <% if @restaurants[4..-1] %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            See More
            <b class="caret"></b>
          </a>

          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        
            <% @restaurants[4..-1].each_with_index do |restaurant, index| %>
              <li>
                <%= link_to "#{restaurant.name} (#{restaurant.food_activities.count})", params.merge({:restaurant => restaurant.restaurant_detail_id}), :remote=>true, :tabindex=>"-1" %> 
              </li>
            <% end %>
      <% end %>
      <!-- end g. for items 5 thru last in @restaurants -->
          </ul>
        </li>
    </ul>
  <% end %>
  <!-- end e. check if there is @restaurants -->
  </div>
<% end %>
<!--end a. check if there is a trip_location_id param -->
<!--End Filter by Landmarks Div Bar-->