<!--
<h3 class ="results_title title">  
  <% unless params["place_text_field"].blank? %> 
    Trip Summaries for <%=  params["place_text_field"] %>
  <% end %>
</h3>

<p class = "results_subtitle_params title_subtitle">  
  <% unless params["traveler_type_id"].blank? %>
    for
    <% @traveler_types.each do |traveler_type| %>
      <%= traveler_type[:traveler_type_name] %><% unless @traveler_types.last == traveler_type %>, <% end %>
    <% end %>
    <% unless params["days"].blank? %> 
      <span class="divider">|</span>
    <% end %>
  <% end %>

  <% unless params["days"].blank? %>
    <%= params["days"] %> Days
  <% end %>
  
</p>
-->