 <!--Begin Trip Result ul group -->
  <ul class="thumbnails">
    <!--Begin Trip Result Pagination Div -->
    <div id = "<%= "trips_page" + ((params[:page].nil?)? "0": params[:page]) %>">
      <% if  @trips_to_add != nil %>
        <% @trips_to_add.each do |trip| %>
          <%= render 'trips/partials/trip_div', :trip => trip %>
        <% end %>
      <% end %>
      <% @trips.each do |trip| %>
        <%= render 'trips/partials/trip_div', :trip => trip %>
      <% end %>
    
    </div>
    <!--End Trip Result Pagination Div -->
  </ul>
  <!--End Trip Result ul group -->
