 <!--Begin Trip Result ul group -->
  <ul class="thumbnails">
    <% exact_matched_trip = false; iter = 0%>
    <!--Begin Trip Result Pagination Div -->
    <div id = "<%= "trips_page" + ((params[:page].nil?)? "0": params[:page]) %>">
        <% @trips.each do |trip| %>
        <% exact_matched_trip = false %>
        <% if @exact_match_count > 0 %>
          <% @exact_match_count = @exact_match_count - 1 %>
          <% exact_matched_trip = true %>
        <% end %>
        <%= render 'trips/partials/trip_div', :trip => trip, :exact_matched_trip => exact_matched_trip %>
      <% end %>
    
    </div>
    <!--End Trip Result Pagination Div -->
  </ul>
  <!--End Trip Result ul group -->
