<!-- Modal -->

<div id="trip_map_big_view_modal" class="modal hide" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
  
  <div class="modal-header">
    <button type="button" class="close big_map_cancel_button" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%=@trip.trip_name%></h3>
  </div>
      
  <!-- Begin Modal Body -->
  <div class="modal-body modal_big_map" id="scroll-modal-body">
  </div>
</div>