<!--Begin Trip Result List Item-->

<li class="trip_result_thumbnail_li hidden-phone">

  <!--Begin Trip Result Thumbnail Wrapper-->
  <div class="thumbnail trip_result_thumbnail_div">
    <div class="add_trip_content">
      <%= link_to '<i class="icon-plus-sign icon-large add_trip_content_attributes"></i><br><br><span class="add_trip_content_attributes">Add A Trip</span>'.html_safe, publish_new_trips_url(), :class => "add_trip_content_link caption_title" %>
    </div>
  </div>
  <!--End Trip Result Thumbnail Wrapper-->
</li>
<!--End Trip Result List Item-->