/* FILE UPLOADER STYLES */

.publish_trip_upload_field{
  width: 100%;
  float: left;
  @include box-sizing(border-box);
  margin-top: 1%;
}

.pt_upload_field{
  margin-bottom: 0;
  max-width: 250px;
}

.pt_upload_field input[type="file"]{
  z-index: 999;
  line-height: 20px;
  font-size: 12px;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding:0;
  right:0;
  bottom: 0;
}

.pt_upload_field .pt_upload_button{
  width:33%;
  @include box-sizing(border-box);
  position: relative;
}

.pt_upload_field .pt_upload_path{
float:left;
// line-height: 20px;
width: 60%;
margin-right: 2%;
// @include box-sizing(border-box);
}

.pt_activity_upload_img{
  max-width: none;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.uploaded_image_preview{
  position: relative;
  clear: both;
  // float:left;
  width: 100%;
  // height: 100%;
  height: 200px;
  min-height: 200px;
  max-width: 250px;
  overflow: hidden;
  margin-bottom: 1%;
}

.yes_upload_div{
  position: relative;
  float: left;
  width: 100%;
  // height: 100%;
  height: 200px;
  overflow: hidden;  
}

.no_upload_div{
  position: relative;
  float: left;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: $grayLight;
  color: gray;
  text-align: center;
  padding: 25% 5%;
  @include box-sizing(border-box);    
}