/** IMAGE SELECT STYLES **/
button.ta_pick_from_foursquare{
  
}

button.trip_cover_pick_foursquare_btn{
  width: 100%;
  margin-top: 1%;
}
.pe_select_image_4SQ_modal, .cover_select_modal{
  width: 80%;
  left: 10%;
  top: 10%;
  margin: 0;
  .modal-body{
    min-height: 400px;
  }
}

.pe_select_image_4SQ_modal img, .cover_select_modal img{
  border: 1 px solid black;
  @include box-sizing(border-box);
  cursor: pointer;

  &:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
}

.pe_selected_pic{
  border: 5px solid green;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.select_image_spinner, .select_cover_image_spinner{
  width:50px;
  height:50px;
  position:absolute;
  left:50%; 
  top:50%; 
  background-image:url(/assets/spinners/ajax-loader-transparent.gif); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  background-size: 30px auto;
  background-color: $black;
  @include border-radius($myDivBorderRadius);
  display: none;
}