/* STYLING FOR PUBLISHING PAGE
  1. COLLAPSER STYLES
  2. STRUCTURE
  3. TRIP DETAILS FORM CONTAINER
  4. TRIP ACTIVITIES SELECTOR
  5. TRIP ACTIVITIES ORDERING
  6. FORM COMPLETION STATUS
  7. COUNTDOWN TWITTER STYLES
*/

/* 1. COLLAPSER STYLES */
.publish_trip_collapser{
  @include box-sizing(border-box);
  @include border-radius($myDivBorderRadius);
  border: $myDivBorderWidth solid $borderGray;
  position: relative;
  float: left;
  margin-bottom: 2%;
}

.publish_trip_collapse_header{
  background-color: $myPrimaryBlue;
  border: $myDivBorderWidth solid $borderGray;
  @include box-sizing(border-box);
  padding: 1%;
  position: relative;
  min-width: 100%;
  color: $white;
  font-weight: bold;
  cursor:pointer;	
}

.publish_trip_collapse_content{
  @include box-sizing(border-box);
  @include clearfix;
  // padding: 1%;
  // border: solid 1px black;	
  min-width: 100%;
  overflow: auto;
  background-color: #fafafa;
}

.collapser_icon{
  border-radius: 50%;
  border:  2px solid rgba(255,255,255,0.6);
  font-size: 15px;
  line-height: 20px;
  width: 20px;
  text-align: center;
  position: absolute;
  top: 25%;
  right: 2%;
}

/* 2. STRUCTURE */
.publish_trip_sort_activities{
  @include col(6);
  margin-left: 0;
  @include box-sizing(border-box);
  border-right: solid 2px $borderGray;
  padding: 1%;
  overflow: auto;
}

.publish_trip_create_activities{
  @include col(6);
  @include box-sizing(border-box);
  border: solid 1px black;
  overflow: auto;
}
.publish_trip_details_container{
  padding: 1%;
  @include box-sizing(border-box);
  @include clearfix;
  .required_publish_form_field{
    background-color: #FAFAD2;
  }
}

.publish_form_required_label{
  font-weight: bold;
}

.required_star{
  font-weight: bold;
  color: $myPrimaryBlue;
  font-size: em(16px);
}

.publish_form_hr{
  border-top: 2px solid gray;
  margin: 10px 0;
}

/* 3. TRIP DETAILS FORM CONTAINER */
.publish_trip_details_container{
  #place_text_field{
    // margin-right: 1%;
  }
}

/* 4. TRIP ACTIVITIES SELECTOR */
.publish_trip_image{
  width: 100%;
  position: relative;
  float: left;
  background-color: blue;
  height: 400px;
  margin-top: 1%;

  .rightcaption{
    position: absolute;
    top: 2%;
    left: 1%;
    width: 75%;
    height: 90%;
    background-color: black;
    padding: 1%;
    @include box-sizing(border-box)
  }
}

.publish_trip_selected_activity_desc{
  @include col(3);
  background-color: gray;
  height: 100px;
}

.publish_trip_activity_pic_select{
  @include col(9);
  background-color: gray;
  height: 100px;
}

/* 5. TRIP ACTIVITIES ORDERING */
.publish_form_time{
  @include clearfix;
  padding: 1%;
  background-color: #18add7;
  text-transform: capitalize;
}

.publish_form_activity_item{
  @include clearfix;
  border: 1px solid black;  
  height: 50px;
}

.publish_form_activity_desc{
  position: relative;
  float: left;
  padding: 1%;
  height: 100%;
  width: 92%;
  @include box-sizing(border-box);
  & .publish_form_edit_link {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    text-decoration:none;
    background-color:white;
    opacity: 0;
    filter: alpha(opacity=1);
  }
  &:hover{
    background-color: $grayLighter;
  }
}

.publish_form_order_button_group{
  width: 8%;
  height: 100%;
  float: left;
  position: relative;
  text-align: center;
  @include box-sizing(border-box);
  .activity_order_up, .activity_order_down{
    @include box-sizing(border-box);
    border: 1px solid black;
    height: 50%;
    padding: 2px;
    cursor: pointer;
    position: relative;
    & span {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
    }
    &:hover{
      color: grey;
    }
  }
}

.publish_trip_activities_ordering_container .publish_trip_add_day{
  float: right;
}

.publish_form_add_activity_button{
  // float: right;
}

.publish_form_edit_activity{
  float: right;
}

.publish_form_delete_link{
  position: absolute;
  bottom: 1%;
  right: 1%;
  z-index: 4;
}
/* 6. FORM COMPLETION STATUS */
$completionStatusHeight: 30px;
.publish_trip_completion_status{
  width: 60%;
  height: $completionStatusHeight;
  position: relative;
  float: left;
  margin-bottom: 1%;
  border: 2px solid $gray;
  background-color: #fafafa;
  @include border-radius($myDivBorderRadius);
  .completion_status{
    padding: 0 2%;
    line-height: $completionStatusHeight;
    font-size: em(14px);
    font-weight: bold;
    height: 100%;
    width: 33%;
    position: relative;
    float: left;
    @include box-sizing(border-box);

    &.middle_borders{
      border-left: 2px solid $gray;
      border-right: 2px solid $gray;
    }
  }
  .completion_status_active{
    background-color: #3cc574;
    color: $white;  
  } 
}

/* 7. FORM COMPLETION STATUS */
.countdown_over{
  color: red;
  font-weight: bold;
}

.countdown40, .countdown200{
  margin-bottom:0;
  clear: both;
  font-size: em(12px);
}

