html, body, .page-wrap {
  // height: 614px; //height of safari mobile viewport in landscape
  // height: 100%;

  //on large desktops limit the height of the body
  @media only screen and (min-device-width: $break-large + 1) and (min-device-height: 614px){
  // height: 614px;
  }

  @include respond-to(portrait){
  // height: 100%;
  }
  
  @include respond-to(small){
  // height: 100%;
  padding-left: 0; //eliminating margin at small screen sizes
  padding-right: 0;
  }

  @include respond-to(phones){
  // height: auto;
  // min-height: 100%;
  padding-left: 0; //eliminating margin at small screen sizes
  padding-right: 0;
  }
}

.page-wrap{
  overflow: hidden; //this needs to be here to clear this div so max-height of pagewrap works.
}

div.morning_bg, div.afternoon_bg, div.evening_bg{
 position:fixed;
 z-index:-1;
 display:none;
 height: 400px;
 background-repeat: no-repeat;
 background-attachment: fixed;
 width: 100%;
 top:-25px;
 background-position-y: 0px;
}

body{
  // background-image:url(/assets/cloud_bg.png);
  // background-position-y: 40px;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  background-color: #e7ebf2;
  // -webkit-backface-visibility: hidden;
  // transform: translate3d(0,0,0);
  // -webkit-transform: translate3d(0,0,0);
}

div.morning_bg{
  background-image:url(/assets/morning_flare.png);
}

div.afternoon_bg{
  background-image:url(/assets/afternoon_flare.png);
}

div.evening_bg{
  background-image:url(/assets/night_moon.png);
}

body.morning_bg{
  background-color: #e7ebf2;//#DEEFFA;//#F8FAFD;
  @include single-transition(all, 3s, ease-in-out, 0.4s);
  // background: url(/assets/backgrounds/morning_bg_80x350.png) 0 0 repeat-x,url(/assets/backgrounds/morning_bg_80x80.png) fixed
  // @include background-image(linear-gradient(top, #6EB4E9 10%, #DEEFFA 100%));
}

body.afternoon_bg{
  background-color: #8dc0d9;//#D4EDED;
  @include single-transition(all, 3s, ease-in-out, 0.4s);
  // background: url(/assets/backgrounds/afternoon_bg_80x350.png) 0 0 repeat-x,url(/assets/backgrounds/afternoon_bg_80x80.png) fixed
  // @include background-image(linear-gradient(top, #1C82B3 10%, #8DC0D9 100%));
}

body.evening_bg{
  background-color: #365165;//#D3E5FC;
  @include single-transition(all, 3s, ease-in-out, 0.4s);
  // background: url(/assets/backgrounds/evening_bg_80x350.png) 0 0 repeat-x,url(/assets/backgrounds/evening_bg_80x80.png) fixed
}

.navbar-fixed-top{
  @include respond-to(small){
  margin-left: 0;
  margin-right: 0;
  }
}

