<div class="modal hide cover_select_modal">
  <!-- Begin Spinner -->
  <div class ="select_cover_image_spinner"></div>
  <!-- End Spinner -->
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Select a Cover Image</h3>
  </div>
  <div class="modal-body">
    
    <!-- Begin Spinner -->
    <div class ="select_image_spinner"></div>
    <!-- End Spinner -->
    
    <div class="cover_images_select_div">
      Loading Pictures...
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" id="cover_select_cancel_button">Cancel</a>
    <a href="#" class="btn btn-primary" id="cover_select_image_button">Select Image</a>
  </div>
</div>