<div class="modal hide pe_select_image_4SQ_modal">
  <!-- Begin Spinner -->
  <div class ="select_image_spinner"></div>
  <!-- End Spinner -->
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Select up to 5 images from Foursquare</h3>
  </div>
  <div class="modal-body">
    
    <!-- Begin Spinner -->
    <div class ="select_image_spinner"></div>
    <!-- End Spinner -->
    
    <div class="4SQ_images_select_div">
      Loading Pictures...
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" id="4SQ_cancel_button">Cancel</a>
    <a href="#" class="btn btn-primary" id="4SQ_select_button">Select Images</a>
  </div>
</div>