<h1>Listing trip_activities</h1>
<div class = "trip_activities_admin">
<%= render 'trip_activities/partials/trip_activities_admin_partial' %>
</div>
<br />

<%= link_to 'New Trip activity', new_trip_trip_activity_path %> |
<%= link_to 'Back', trip_path(@trip) %>
