/* COMPASS TO SPRITE AUTHOR LEVEL BADGES DIRECTORY */
@import "author_level/*.png";
// @include all-author_level-sprites;

@mixin author_level_badge_sizes{
  background-position:center;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  margin-left: 5px;
  // display: inline-block;
  @include box-sizing(border-box);  	
}

.level_1_badge{
  @include author_level_badge_sizes;
  @include author_level-sprite(rookie-40x40);	
}

.level_2_badge{
  @include author_level_badge_sizes;
  @include author_level-sprite(explorer-40x40);	
}

.level_3_badge{
  @include author_level_badge_sizes;
  @include author_level-sprite(captain-40x40);	
}

.level_4_badge{
  @include author_level_badge_sizes;
  @include author_level-sprite(superstar-40x40);	
}

/* SIZING AUTHOR LEVEL BADGE CONTAINERS */
.al_badge_bg_blur{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.8);
  padding: 1%;
  @include box-sizing(border-box);
}

.al_badge_container{
  height: 40px;
  width: 50px;
  @include box-sizing(border-box);
  position: relative;
  float: left;
  z-index: 5;
  // position: absolute;
  // top: 1%;
  // right: 1%;
}

span.al_badge_name{
  font-size: em(12px);
  font-weight: bold;  
  display: inline-block;
  text-align: center;
  width: 50px;
}

.al_badge_container.in_trip{
  position: relative;
  float: right;
}

.it_al_badge_wrap{
  position: relative;
  height: 100%;
  float: right;
  z-index: 100;
  width: 50px;
}

.al_solid_bg{
  opacity: 1;
  width: 150px;
  & .tooltip-inner, & .tooltip-arrow{
    opacity: 1;
    // background-color: $red;
  }
}

.al_solid_bg.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

.author_level_tooltip{
  cursor: pointer;
}