/* TYPOGRAPHY */

$consistentFontWeight: 400;
$consistentLineHeight: 1.5;
$consistentFontFamily: $sansFontFamily;

/* TITLES - for Large Header Titles */
.title{
  font-size: em(24.5px);
  line-height: normal;
  font-weight: $consistentFontWeight;
  font-family: $consistentFontFamily;
}
.title_large{
  font-size: em(27.5px);
  line-height: normal;
  font-weight: $consistentFontWeight;
  font-family: $consistentFontFamily;
}
.title_subtitle{
  font-size: em(16px);
  line-height: normal;
  font-weight: $consistentFontWeight;
  font-family: $consistentFontFamily;	  
}

/* CAPTIONS - for captions of article captions, thumbnail captions, trip captions */
.caption_title{
  font-size: em(20px);
  line-height: normal;
  font-weight: $consistentFontWeight;
  font-family: $consistentFontFamily;
  margin: 0;	
}

.caption_subtitle{
  font-size: em(12px);
  line-height: $consistentLineHeight;
  font-weight: $consistentFontWeight;
  font-family: $consistentFontFamily;
  margin: 0;
}
.caption_medium{
  font-size: em(14px);
  line-height: $consistentLineHeight;
  font-weight: $consistentFontWeight;
  font-family: $consistentFontFamily;
}

.caption_large{
  font-size: em(16px);
  line-height: $consistentLineHeight;
  font-weight: $consistentFontWeight;
  font-family: $consistentFontFamily;
}

.caption_small{
  font-size: em(11px);
  line-height: $consistentLineHeight;
  font-weight: $consistentFontWeight;
  font-family: $consistentFontFamily;	
}