/* Dropdown Search */
.droptoggle_searchbar{
  min-width: 220px;
  line-height: 20px;
  height: 25px;
  margin: 7px 0 !important;
  padding: 1px;
  font-size: 14px;
  .dropdown-toggle span.caret{
    border-top-color:#888888;
  }
  
  .select2-choice {
     color: black !important;
     border: 1px solid #cccccc !important;
     background-color: #e6e6e6 !important; 
     background-repeat: no-repeat !important;
     background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6) !important;
     .select2-arrow{
        border-left: none !important;
        background: none !important;
     }
   }
}

.droptoggle_menu{
  padding: 2%;
  min-width: 300px;
  z-index: 89;
}

.droptoggle_form{
  width: 280px;
  padding: 2% 0;
  margin: 0 10px;
  .button-control-group{
    float: right;
    margin-top: 5px;
  }
  .from_prepend{
    float: left;
    margin-right: 10px;
  }
  .day_form_input_append{
    select{
      width: 100px;
    }
    .bootstrap-select{
      margin: 0 20px;
      width: 100px;
      span.caret{
        border-top-color:#888888;
      }
    }
    float: left;
  }
  #search_submit_button{
    height: 30px;
    
  }
}



#ui-datepicker-div{
  z-index: 1032 !important; //bad practice but had to do this here or the datepicker on searchbar lies under.
}

.dropdown_traveler_type_multiselect{
  width: 280px;
}

.ui-multiselect.dropdown_traveler_type_multiselect{
  height: 30px;
  font-size: 13px;
}
.ui-multiselect-menu.dropdown_traveler_type_multiselect{
  .ui-multiselect-header{
    border: none;
  }
  .ui-multiselect-checkboxes label input{
    top: -3px;
    margin-right: 3px;
  }
  .ui-multiselect-checkboxes li label.ui-state-hover{
    background-color: rgba(0,0,0,.1);
  }    
}