/* Dropdown Search */
.droptoggle_searchbar{
  line-height: 20px;
  height: 25px;
  margin: 4% 0;
  padding: 1px;
  font-size: 12px;
}

.droptoggle_menu{
  padding: 2%;
  min-width: 300px;
  z-index: 89;
}

.droptoggle_form{
  width: 280px;
  padding: 2% 0;
  margin: 0 10px;
  .button-control-group{
    float: right;
    margin-top: 5px;
  }
  .from_prepend{
    float: left;
    margin-right: 10px;
  }
  .day_form_input_append{
    float: right;
  }
  // .dropdown-from-datefield{
  //   float: left;
  // }
}



#ui-datepicker-div{
  z-index: 1032 !important; //bad practice but had to do this here or the datepicker on searchbar lies under.
}

.dropdown_traveler_type_multiselect{
  width: 280px;
}

.ui-multiselect.dropdown_traveler_type_multiselect{
  height: 30px;
  font-size: 13px;
}
.ui-multiselect-menu.dropdown_traveler_type_multiselect{
  .ui-multiselect-header{
    border: none;
  }
  .ui-multiselect-checkboxes label input{
    top: -3px;
    margin-right: 3px;
  }
  .ui-multiselect-checkboxes li label.ui-state-hover{
    background-color: rgba(0,0,0,.1);
  }    
}