#venue_images,
#location_images {
  height:auto;
  width: 100%;
  overflow:scroll;
}

.venue_image{
  border: 1px solid black;
  height: 160px;
  width: 160px;
  display:inline;
  @include box-sizing(border-box);
}

.overflow_form{
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 100%;
}