#venue_images,
#location_images {
  height:auto;
  width: 100%;
  overflow:scroll;
}

.venue_image{
  border: 1px solid black;
  height: 250px;
  width: 250px;
  display:inline;
}

.overflow-form{
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 100%;
}