.swipe_loading_indicator_header{
  position: fixed;
  top: 6px;
  left: 50%;
  height: 30px;
  z-index: 9999;
  display: none;
}

.swipe_loading_indicator_footer{
  height: 20px;
  z-index: 9999;
  display: none;
}