.navigation_logo{
  float: left;
  margin-top: 5px;
}

.small_error_msg{
  float: left;
  width: 100%;
  text-align: left;
  color: red;	
}

.nav_create_trip_button{
  font-weight: bold;
  top: 10px;
  left: 10%;
  position: relative;
  a{
  	color: white;
  }
  
}

.nav_center_linked{
  position: absolute;
  left: 25%;
  font-weight: bold;
  a{
  	color: white;
  }
}