/* COMPASS TO SPRITE BADGES DIRECTORY */
@import "badges/*.png";
@include all-badges-sprites;

/* BADGE STYLES */

.badge_buttons{
  position: relative;
  float: left;
  margin-right: 1%;
  // width: 100px;
  text-align: center;
}

.badges-ul{
  // @include clearfix;
  // width: 100px;
  margin: 0 auto;

  li{
    float: left;
    text-align: center;
    margin-left: 1%;
    width: 40px;
    position: relative;
    display: inline;
    a{
      display: block;
      position: relative;
      margin: 0; //half of the difference in width of li 40px-25px = 15px / 2 = 7.5px
      width: 40px;
    }
    p{
      text-align: center;
      font-size: 0.75em;
      line-height: 10px;
      font-weight: bold;
    }
  }
}

@mixin traveler-badge{
  background-position:center;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  // border: solid 1px $gray;
  // border-radius: 50%;
  float: left;
  position: relative;
  @include box-sizing(border-box);
  // margin-left: 1%;
}

.couples-badge{
  @include traveler-badge;
  // background-image:url(/assets/badges/couples-badge.png);
  @include badges-sprite(couples-badge-40x40);
}

.solo-badge{
  @include traveler-badge;
  // background-image:url(/assets/badges/solo-badge.png);
  @include badges-sprite(solo-badge-40x40);
}

.family-badge{
  @include traveler-badge;
  // background-image:url(/assets/badges/family-badge.png);
  @include badges-sprite(family-badge-40x40);
}

.group-badge{
  @include traveler-badge;
  // background-image:url(/assets/badges/group-badge.png);
  @include badges-sprite(group-badge-40x40);
}

.other-badge{
  @include traveler-badge;
  // background-image:url(/assets/badges/other-badge.png);
  @include badges-sprite(other-badge-40x40);
}