<div class = "front_page_convo_container thumbnails">
  <div class = "front_page_convo_wrapper" id = "front_page_convo_wrapper">
    <div class = "front_page_convo_header">
      <i class="icon-question-sign"></i> 
  	  <p class= "caption_title"> Over 47 million people a year visit NYC. What’s your favorite thing to do there? </p>
  	  
    </div>
    <div class = "front_page_convo_body cust_scroll_thin">
      <fb:comments href="<%=  (Rails.env == "production") ? "#{request.url}" : "http://espn.com" %>" num_posts="10" id="comments" colorscheme="light" mobile=false></fb:comments>
    </div>  
  </div>

 <!--Begin Trip Result List Item-->
<div class="sample_trip_result_thumbnail_li">

  <!--Begin Trip Result Thumbnail Wrapper-->
  <div class="thumbnail trip_result_thumbnail_div">


    <div class="result_thumb_wrap">
    <i class="icon-map-marker icon-4x"></i>
    </div>

    <!--Begin Trip Result Caption-->
    <div class="caption trip_results_caption">
      <div class = "front_convo_social_btn">
        <%= link_to image_tag('/assets/logos/f_logo.png', :class=> "front_convo_social_icon"), raw("https://www.facebook.com/pages/Chaloio/365850670194567"), :target => "_blank"%>
        <%= link_to image_tag('/assets/logos/twitter-bird-white-on-blue.png', :class=> "front_convo_social_icon"), raw("https://twitter.com/intent/user?screen_name=chalodotio"), :target => "_blank"%>
      </div>
      <h3 class="caption_trip_title caption_title">Your Awesome Trip Summary</h3>
      <p class="caption_trip_subtitle caption_subtitle">  3 Days in AwesomeTown <span class="divider">|</span> by You </p>
      <p class="caption_trip_summary caption_subtitle">We're working hard to make it easy for you to contribute your trip summaries. If you can't wait, <a href="mailto:info@chalo.io">email us</a> to contribute today. <p>

    </div>
    <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
      <form action="http://chalo.us4.list-manage.com/subscribe/post?u=51fee95a443a83f1df1e8b6fb&amp;id=293689fc0f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <label for="mce-EMAIL">Subscribe to our mailing list for updates</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <div class="clear"><input type="submit" value="Notify Me" name="subscribe" id="mc-embedded-subscribe" class="btn-flat btn-flat-primary"></div>
      </form>
      </div>
    <!--End mc_embed_signup-->
    <!--End Trip Result Caption-->
  </div>
  <!--End Trip Result Thumbnail Wrapper-->
</div>

<!--End Trip Result List Item-->
</div>