<div class = "front_page_convo_container thumbnails">
  <div class = "front_page_convo_wrapper" id = "front_page_convo_wrapper">
    <div class = "front_page_convo_header">
  	  <p class= "caption_title"> Does anyone want to dance? </p>
  	  <p class= "caption_subtitle"> We'd love to hear from you! Join the conversation! </p>
    </div>
    <div class = "front_page_convo_body cust_scroll_thin">
      <fb:comments href="http://espn.com" num_posts="10" id="comments" colorscheme="light" mobile=false></fb:comments>
    </div>  
  </div>

 <!--Begin Trip Result List Item-->
<ul>
<li class="sample_trip_result_thumbnail_li">

  <!--Begin Trip Result Thumbnail Wrapper-->
  <div class="thumbnail trip_result_thumbnail_div">
    
    <div class="result_thumb_wrap">
    <i class="icon-map-marker icon-4x"></i>
    </div>

    <!--Begin Trip Result Caption-->
    <div class="caption trip_results_caption">

      <h3 class="caption_trip_title caption_title">Your Awesome Trip Summary</h3>
      <p class="caption_trip_subtitle caption_subtitle">  3 Days in AwesomeTown <span class="divider">|</span> by You </p>
      <p class="caption_trip_summary caption_subtitle">We're working hard to make it easy for you to contribute your trip summaries. If you can't wait, <a href="mailto:info@chalo.io">contact us</a> to contribute today. <p>
      
    </div>
    <!--End Trip Result Caption-->
  </div>
  <!--End Trip Result Thumbnail Wrapper-->
</li>
</ul>
<!--End Trip Result List Item-->
</div>