/* Info Navigation Pill Bar */
.info_page_pill_nav{
  border-bottom: 1px solid $borderGray;
}

/* About Text */
.info_align_center{
  text-align: center;
}

/* About The Team Info */
.team_social_link{
  // text-align: left;
  float: left;
}

.team_social_icon{
  height: 25px;
  width: 25px;
}