/* ABOUT AUTHOR PARTIAL STYLING
  1. STRUCTURAL STYLING
*/


/* 1. STRUCTURAL STYLING */
.auth_container{
  // @include col(12);
  width: 99%;
  @include box-sizing(border-box);
  background-color: $myDivBg;
  border-color: $borderGray;
  border-width: $myDivBorderWidth ($myDivBorderWidth + 1px) $myDivBorderWidth ($myDivBorderWidth + 1px);
  @include border-radius($myDivBorderRadius);
  border-style: solid;
  height: 100%;
  margin-left: 0.5%;
  overflow: hidden;
  position: relative;
}

.about_author_main{
  position: relative;
  width: 90%;
  float: left;
  background-color: rgba(0,0,0,.6);
  @include border-radius($myDivBorderRadius);
  @include box-shadow($myDivBoxShadow);
  border: $myDivBorderWidth solid $borderGray;
  height: 100%;
  margin-top: 0;
  margin-left: 5%; 
  @include box-sizing(border-box);
  padding: 2% 5%;
  color: $white;
  lead{
    font-size: 1.2em;
    line-height: 1.5em;
  }
  .author_title{
  }
}

.auth_city{
	color: $white;
}

.auth_hr{
	margin: 0;
	margin-bottom: 8px;
	border-bottom: 1px solid $borderGray;
	border-top: 0;
}

.auth_picture{
	@include box-sizing(border-box);
	width: 20%;
	float: left;
	text-align: left;
	padding: 1%;
	.auth_img_tag{
		@include border-radius($myDivBorderRadius);
	}
}
.auth_social_link{
	float:left;
	clear:left;

	.auth_social_icon{
		height: 18px;
		width: 18px;
	}
}

.auth_description{
	@include box-sizing(border-box);
	width: 80%;
	float: left;
	padding: 1%;
	h4{
		margin: 5px 0;
	}
}

.auth_moreinfo{
	width: 100%;
	float: left;
}

.auth_call_action{
  background-color: gray;
  float: left;
  position: relative;
  width: 100%;
  @include border-radius($myDivBorderRadius);
  border: 1px solid $borderGray;
  @include box-sizing(border-box);
  padding: 1%;
  margin-top: 1%;
  text-align: center;
  p{
    font-size: em(18px);
  }
}

.auth_call_action .likebox{
  display: inline-block;
  @include box-sizing(border-box);
  margin-bottom: 3%;
  float: none;
  .trip_useful_message{
    color: white;
  }
}

.auth_call_action #swipeview_useful_button{
  float: left;
  i{
    color: $red;
  }  
}

.auth_call_action .wn_signup_button{
  float: none;
}