<h2>404</h2>
<div>
  <h3> We are sorry </h3>
  <p> The content you requested could not be found. </p>
  <p> You tried to access <h4> <%= @not_found_path %> </h4>, which is not a valid page. </p>
  <p> Lets <%= link_to 'Chalo', root_url, :class=>"brand", :id =>"homepagelink"%> back to our home page and try again. </p>
</div>