<h2>500</h2>
<div>
  <h3>We are sorry </h3>
  <p> The content you requested could not be found. </p>
  <p> We are working on the issue and will get back soon. </p>
  <p> Try again at <%= link_to 'Chalo', trips_path, :class=>"brand", :id =>"homepagelink"%>. </p>
</div>