/* CSS-ONLY OFF-CANVAS SLIDEOUT NAV */

.toggle-menu {
  display: none;

  @include respond-to(small){
  display: block;
  }
}

.main-nav-check {
  display: none;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #3B3B3B;
  overflow: hidden;
  overflow-y: auto; //i added this
  transition: width 0.3s ease;
  a {
    display: block;
    background: linear-gradient(#3E3E3E, #383838);
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
    color: white;
    padding: 15px;
    &:hover, &:focus {
      background: linear-gradient(#484848, #383838);
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 34px;
    background: linear-gradient(left, rgba(black, 0), rgba(black, 0.4));
  }
}

.close-menu {
  display: none;
}

#main-nav-check:checked + #main-nav {
  @include respond-to(small){
    width: 20%;
    left: 0;
    @include box-sizing(border-box);
    padding: 2%;
  }
}

#main-nav-check:checked ~ .page-wrap {
  @include respond-to(small){
    width: 100%; //leaving this at 100% shifts the page off-canvas rather than shrinks it
    // margin-left: 20%;
    position: fixed;
    left: 20%;
    .open-menu {
       display: none; 
    }
    .close-menu {
       display: block;
    }

    .navbar {
      margin-left: 0%;
    }
    // .main-header {
    //   width: 80%;
    //   left: 20%;
    // }
  }
}