/* STYLING FOR THE SWIPEVIEW MODULE TOC

	1. WRAPPER
	2. FILMSTRIP NAVIGATION - CALLED #NAVSWIPE
	3. HOVER SHOW NAV ARROWS
*/


/* 1. WRAPPER */

#wrappiest{
	@include col(10);
	position: relative;
	height:90%;
	overflow: hidden;
	@include box-sizing(border-box);
	background-color: $white;
	border-color: $borderGray;
	border-width: $myDivBorderWidth;
	border-style: solid;
	@include border-radius($myDivBorderRadius);
	@include box-shadow($myDivBoxShadow);
	-webkit-tap-highlight-color: rgba(0,0,0,0); //this disables the tap-highlight color in safari on ipad

	@include respond-to(portrait){
	  	@include col(9);
	  	height: 80%;
  	}

  	@include respond-to(small){
  		@include col(12);
  	}
}
#swipewrapper {
	@include box-sizing(border-box);
	overflow: visible !important;
	width: 92.00%;
	height:100%;
	margin-left: 4%;
	margin-right: 4%;
}

/* 2. FILMSTRIP NAVIGATION - NAVSWIPE */
#navswipe {
	z-index:100;
	-webkit-border-radius:0.5em;
	-moz-border-radius:0.5em;
	-ms-border-radius:0.5em;
	-o-border-radius:0.5em;
	border-radius:0.5em;
}

#navswipe li {
	overflow:hidden;
	text-align:center;
	@extend .media;	
	display: table;
	@include border-radius($myDivBorderRadius);
}

#navswipe2 li {
	overflow:hidden;
	text-align:center;
	@extend .media;	
	display: table;
	@include border-radius($myDivBorderRadius);
}

#navswipe li#prev {
	margin-left:5px;
	background:transparent;
	color: white;
}

#navswipe li#next {
	margin-right:0;
	background:transparent;
	color: white;
}

#navswipe li.selected {
	background:rgba(255,255,255,0.4);
	border: 1px solid $myDivGlows;
	@include border-radius($myDivBorderRadius);
	@include box-shadow(0px 0px 9px 6px $myDivGlows);
}

#navswipe2 li.selected {
	background:rgba(255,255,255,0.4);
	border: 1px solid $myDivGlows;
	@include border-radius($myDivBorderRadius);
	@include box-shadow(0px 0px 9px 6px $myDivGlows);
}

/* 3. HOVER SHOW NAV ARROWS */
.no-touch #wrappiest:hover > .bottomnavigationbar{
	display: block;
}