/* STYLING FOR CONTENT OF AN ACTIVITY CARD. CURRENTLY MIXING WITH MORE MAIN BODY STYLES BUT WILL WORK TO SEPARATE
  1. MAIN BODY STYLES
  2. TITLE DIV
  3. FILMSTRIP NAVIGATION
  3.5 ACTIVITY CONTAINER
  4. IMAGE DIV
  5. CAPTION DIV
  6. NAVIGATION BOTTOM
  7. MISC
*/


/* 1. MAIN BODY STYLES*/

html, body, .page-wrap {
  height: 644px; //height of safari mobile viewport in landscape

  @include respond-to(portrait){
  height: 981px;
  }
  
  @include respond-to(small){
  height: 981px;
  padding-left: 0; //eliminating margin at small screen sizes
  padding-right: 0;
  }
}

.navbar-fixed-top{
  @include respond-to(small){
  margin-left: 0;
  margin-right: 0;
  }
}

#redbg{
  background-color: #B0B0B0;
}

// #greybg{
//   background-color: grey;
// }


/* 2. TITLE DIV */ 

$titlerowheight: 10%;
$lastrowheight: 10%;

@media only screen and (min-width: $break-default + 1) and (max-width: $break-large - 1) {
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{
    width: 98%;
  }
}

#maincontainer{
  height: 90%;

  @include respond-to(portrait){
  height: 86%;
  }
}

.triptitlebox{
  @include col(12);
  min-height: $titlerowheight;
  height: auto;
  position: relative;
  overflow: hidden;

  p{
    margin: 0;
  }

  .trip-title-main-text{
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    white-space: nowrap;
  }

  .trip-title-sub-text{
    @extend .trip-title-main-text;
    font-size: 1em;
    line-height: 1em;
  }
}

.socialmediabox{
  position: absolute;
  right: 0%;
  top: 50%;
  @include respond-to(small){
  font-size: .75em;
  right: 1%;
  }
}


/* 3. FILMSTRIP NAVIGATION */ 
.filmstrip{
  @include col(2);
  @include box-sizing(border-box);
  padding: 1%;
  height: 100% - $titlerowheight;
  overflow: hidden;
  overflow-y: auto;
  background-color: $white;
  border-color: $borderGray;
  border-width: $myDivBorderWidth;
  border-style: solid;
  @include border-radius($myDivBorderRadius);
  @include box-shadow($myDivBoxShadow);

  @include respond-to(portrait){
  @include col(3);
  @include box-sizing(border-box);
  padding: 1%;
  height: 80%;
  }

  @include respond-to(small){
  @include col(3);
  @include box-sizing(border-box);
  padding: 1%;
  height: 80%;
  display: none;
  }
}

/* 3.5 ACTIVITY CONTAINER DIV */
.activitycontainer{
  @include col(12);
  @include box-sizing(border-box);
  background-color: $grayLighter;
  border-color: $borderGray;
  border-width: $myDivBorderWidth ($myDivBorderWidth + 1px) $myDivBorderWidth ($myDivBorderWidth + 1px);
  border-style: solid;
  height: 100%;
  padding: 2.5% 2.0% 2.5% 3.5%; //left and right off by 1.2% because of the gutter between photo and caption
  margin-left: 1%;

  @include respond-to(portrait){
    padding: 5%;
  }

  @include respond-to(small){
    padding: 5%;
  }
}

/* 4. IMAGE DIV */ 

img {
  width: auto;
/*  height: auto;*/
/*  max-width: 100%;*/
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

img.hung_image{
  width: 100%;
  height: auto;
  
  @include respond-to(widescreen){
  height: 90%;
  width: auto;
  } 
}

.centerimage{
  @include col(8);
  @include box-sizing(border-box);
  padding: 1em;
  background-color: rgba(255,255,255,0.6);
  border-color: $borderGray;
  border-width: $myDivBorderWidth;
  border-style: solid;
  @include border-radius($myDivBorderRadius);
  @include box-shadow($myDivBoxShadow);
  height: 100%;
  position: relative;
  margin-left: 0;

  @include respond-to(portrait){
  @include col(12);
  @include box-sizing(border-box);
  @include border-radius($myDivBorderRadius $myDivBorderRadius 0 0);
  @include box-shadow(5px 0 4px rgba(218,218,218,0.65));
  padding: 1em;
  height: 70%;
  }

  @include respond-to(small){
  @include col(12);
  @include box-sizing(border-box);
  padding: 1em;
  height: 70%;
  margin-left: 0;
  width: 100%;
  }
}

/* 5. CAPTION DIV */
.rightcaption{
  @include col(4);
  @include box-sizing(border-box);
  background-color: rgba(255,255,255,0.6);
  border-color: $borderGray;
  border-width: $myDivBorderWidth;
  border-style: solid;
  @include border-radius($myDivBorderRadius);
  @include box-shadow($myDivBoxShadow);
  height: 100%;
  padding: 1em;

  @include respond-to(portrait){
    @include col(12);
    // float: right;
    @include box-sizing(border-box);
    padding: 1em;
    height: 30%;
    @include border-radius(0 0 $myDivBorderRadius $myDivBorderRadius);
    margin-top: 1%;
  }

  @include respond-to(small){
    @include col(12);
    // float: right;
    @include box-sizing(border-box);
    padding: 1em;
    height: 30%;
    margin-left: 0;
    width: 100%;
    @include border-radius(0 0 $myDivBorderRadius $myDivBorderRadius);
    margin-top: 1%;
  }
}

/* NAVIGATION ARROWS */

#leftnavigation{
  text-align: center;
  color:  $white;
  width: 3%;
  background-color: rgba(85, 85, 85, 0.8);
  position: absolute;
  top: 50%;
  left: 0%;
  @include border-radius(0 5px 5px 0);
  &:hover{
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    border-width: 1px;
    border-color: $black;
    border-style: solid;
  }
}

#rightnavigation{
  text-align: center;
  color:  $white;
  width: 3%;
  background-color: rgba(85, 85, 85, 0.8);
  position: absolute;
  top: 50%;
  right: 0%;
  @include border-radius(5px 0 0 5px);
  &:hover{
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    border-width: 1px;
    border-color: $black;
    border-style: solid;
  }
}

// #nextstepbox{
//   text-align: right;
//   // background-color: grey;
//   @include col(5);
//   @extend .bottomnavigationbar;

//   @include respond-to(portrait){
//   @include col(5);
//   }

//   @include respond-to(small){
//   @include col(5);
//   font-size: .8em;
//   text-align: center;
//   @include box-sizing(border-box);
//   padding: 1em 1em 1em 1em;
//   }
// }

// #previousstepbox{
//   text-align: left;
//   @include col(5);
//   @extend .bottomnavigationbar;

//   @include respond-to(portrait){
//   @include col(5);
//   }

//   @include respond-to(small){
//   @include col(5);
//   font-size: .8em;
//   text-align: center;
//   @include box-sizing(border-box);
//   padding: 1em 1em 1em 1em;
//   }
// }

.bottomnavigationbar{
  @include box-sizing(border-box);
  padding: 0.5em 0 0.5em 0;
  // height: $lastrowheight;
  z-index: 101;
  display: none;
}


/* 7. MISC */


/* bottom rails things */ 
.bottom-actionlinks{
  float:left;
  @include col(12);
}


/* panel for sliding up */ 

#wrapperhung {
  position:absolute;
}

#lower {
  width: 80%;
  max-height: 60%; /* for iPhone */ 
  position: absolute;
  position: fixed; /* position fixed required to keep panel at bottom of page even when scrolling */ 
  bottom: 0px;
  margin-left: 10%;
  // margin-right: 10%;
}

#bar {
  padding: 10px;
  background-color: #aaaaaa;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#panel {
  background-color: #aaaaaa;
  display: none;
  padding: 10px;
/*  height: 100px; */
}

