/* STYLING FOR CONTENT OF AN ACTIVITY CARD. CURRENTLY MIXING WITH MORE MAIN BODY STYLES BUT WILL WORK TO SEPARATE
  1. MAIN BODY STYLES
  2. TITLE DIV
  3. FILMSTRIP NAVIGATION
  3.5 ACTIVITY CONTAINER
  4. IMAGE DIV
  5. CAPTION DIV
  6. NAVIGATION BOTTOM
  7. MISC
  8. OVERVIEW MODAL AND TABLE
*/


/* 1. MAIN BODY STYLES*/

html, body, .page-wrap {
  height: 614px; //height of safari mobile viewport in landscape

  @include respond-to(portrait){
  height: 971px;
  }
  
  @include respond-to(small){
  height: 971px;
  padding-left: 0; //eliminating margin at small screen sizes
  padding-right: 0;
  }
}

img.morning_bg, img.afternoon_bg, img.evening_bg{
 position:absolute;
 z-index:-1;
 display:none;
 height: 192px;
 width: 100%;
 top:-25px;
}

body.morning_bg{
  background-color: #DAE6F6;
  @include single-transition(opacity, 4s, ease-in-out, 0.5s);
}

body.afternoon_bg{
  background-color: #D4EDED;
  @include single-transition(opacity, 4s, ease-in-out, 0.5s);
}

body.evening_bg{
  background-color: #AABDC6;
  @include single-transition(opacity, 4s, ease-in-out, 0.5s);
}

.navbar-fixed-top{
  @include respond-to(small){
  margin-left: 0;
  margin-right: 0;
  }
}

/* 2. TITLE DIV */ 

$titlerowheight: 10%;
$lastrowheight: 10%;

@media only screen and (min-width: $break-default + 1) and (max-width: $break-large - 1) {
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{
    width: 1000px;
  }
}

#maincontainer{
  height: 90%;

  @include respond-to(portrait){
  height: 86%;
  }
}

.triptitlebox{
  @include col(12);
  min-height: $titlerowheight;
  height: auto;
  position: relative;
  overflow: visible;

  p{
    margin: 0;
  }

  .trip-title-main-text{
    // font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    line-height: 1.4em;
    white-space: nowrap;
    font-weight: 600;
  }

  .trip-title-sub-text{
    // font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1em;
    white-space: nowrap;
  }
}

.socialmediabox{
  position: absolute;
  right: 0%;
  top: 30%;
  @include respond-to(small){
  font-size: .75em;
  right: 1%;
  }
}


/* 3. FILMSTRIP NAVIGATION */
.wrapper-film{
  @include col(2);
  @include box-sizing(border-box);
  // padding: 1%;
  overflow: hidden;
  height: 100% - $titlerowheight;
  background-color: $myDivBg;
  border-color: $borderGray;
  border-width: $myDivBorderWidth;
  border-style: solid;
  @include border-radius($myDivBorderRadius);
  @include box-shadow($myDivBoxShadow);
  position:relative;

  @include respond-to(portrait){
  @include col(2);
  @include box-sizing(border-box);
  // padding: 1%;
  height: 80%;
  }

  @include respond-to(small){
  @include col(3);
  @include box-sizing(border-box);
  // padding: 1%;
  height: 80%;
  display: none;
  }
} 
.filmstrip{
  @include box-sizing(border-box);
  padding: 8%;
  height: 100%;
  // overflow: hidden;
  overflow-y: auto;
}

div.thumb-wrap{
  float:left; /* important */
  position:relative; /* important(so we can absolutely position the description div */
}
div.thumb-description{
  position:absolute; /* absolute position (so we can position it where we want)*/
  bottom:0px; /* position will be on bottom */
  left:0px;
  width:100%;
  /* styling bellow */
  background-color: rgba(0, 0, 0, 0.6);
  font-size:0.85em;
  font-weight: 600;
  color:white;
  filter:alpha(opacity=60); /* IE transparency */
}
p.description_content{
  @include box-sizing(border-box);
  padding: 0.15em 0 0.15em 0.5em;
  margin:0px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




/* 3.5 ACTIVITY CONTAINER DIV */
.activitycontainer{
  @include col(12);
  @include box-sizing(border-box);
  background-color: $myDivBg;
  border-color: $borderGray;
  border-width: $myDivBorderWidth ($myDivBorderWidth + 1px) $myDivBorderWidth ($myDivBorderWidth + 1px);
  @include border-radius($myDivBorderRadius);
  border-style: solid;
  height: 100%;
  // padding: 2.5% 2.0% 2.5% 3.5%; //left and right off by 1.2% because of the gutter between photo and caption
  margin-left: 1%;
  overflow: hidden;

  @include respond-to(portrait){
  }

  @include respond-to(small){
  }
}

/* 4. IMAGE DIV */ 

// img {
//   width: auto;
// /*  height: auto;*/
// /*  max-width: 100%;*/
//   vertical-align: middle;
//   border: 0;
//   -ms-interpolation-mode: bicubic;
// }

img.hung_image{
  width: 100%;
  height: auto;
}

img.relative_image{
  position:relative;
  z-index: -1;
}

.main-pic-wrap{
  height:100%;
  overflow: hidden;
  @include border-radius($myDivBorderRadius);

  @include respond-to(portrait){
  height: 70%;
  }
  @include respond-to(small){
  height: 70%;
  }
}

.centerimage{
  width: 100%;
  @include box-sizing(border-box);
  // padding: 1em;
  background-color: $myDivBg;
  // border-color: $borderGray;
  // border-width: $myDivBorderWidth;
  // border-style: solid;
  // @include border-radius($myDivBorderRadius);
  @include box-shadow($myDivBoxShadow);
  height: 100%;
  position: relative;
  // margin-left: 0;

  @include respond-to(portrait){
  @include box-sizing(border-box);
  // @include border-radius($myDivBorderRadius $myDivBorderRadius 0 0);
  // @include box-shadow(2px 0 4px rgba(0,0,0,.05));
  // padding: 1em;
  }

  @include respond-to(small){
  @include box-sizing(border-box);
  // padding: 1em;
  // margin-left: 0;
  }
}

.always-here{
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  left:0;
  top:0;
  z-index: 5;
}

/* 5. CAPTION DIV */
.rightcaption-hide{
  display: none;
  @include respond-to(portrait){
    display: block;
  }
}
.rightcaption{
  width: 35%;
  // height: 100%;
  color: $white;
  @include box-sizing(border-box);
  background-color: rgba(0,0,0,0.6);
  @include border-radius($myDivBorderRadius);
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 200; //to go over showmap button

  @include respond-to(portrait){
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    top: auto;
    min-height: 30%;
    // height: 30%;
    @include border-radius(0);
    @include box-sizing(border-box);
  }

  @include respond-to(small){
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    top: auto;
    min-height: 30%;
    z-index: 200; //to go over showmap button
    @include border-radius(0);
    @include box-sizing(border-box);
  }
}



h3#activity_title{
  @include box-sizing(border-box);
  // padding: 0 0.5em 0 0.5em;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  padding: 0.5em 2em 0.2em 0.7em; //padding-right needs to be big to make room for arrow
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.2em;
  border-bottom: 1px solid rgb(204,204,204);
  outline: 0;
  text-shadow: 2px 1px 3px $black;
}

h3#more_info_accordion{
  padding: 0.2em 0.5em 0.2em 1.2em;
  margin-top: 0;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 0.6em;
  outline: 0;
}

#activity_title .ui-accordion-header-icon, #more_info_accordion .ui-accordion-header-icon{
  position: absolute;
  left: auto;
  right: .5em;
  top: 40%;
  font-size: 16px;
  &:hover{
    color: $gray;
  }
}

div.rightcaption .ui-accordion-content {
  padding: 0 1em;
}

#user-description{
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 300;
  margin-bottom: 0.75em;
  text-shadow: 2px 1px 3px #000;
}

// #more-info-id{
//   border-top: 1px solid $gray;
// }

.more-info-dl{
  font-size: 0.8em;
  line-height: 0.8em;
  
  .ui-accordion-content{
    border-top: 1px solid $grayLighter;
  }

  dl{
    margin-top: 0;
  }
  dd{
    line-height: 1.1em;
  }
  address{
    margin-bottom: 0;
    line-height: 1em;
  }
}
.caption-quick-tip{
  // background-color: rgba(225,225,225, 0.6);
  color: $white;
  font-size: .8em;
  line-height: 1em;
  text-shadow: (1px 1px 1px $black);
  border: 1px solid rgb(204,204,204);
  background-color: transparent;
}

#trip_map{
 background-color: $black;
 height: 100%;
 width: 100%;
 position: absolute;
 left:0;
 top:0;
 img{max-width:none}
 
 @include respond-to(portrait){
 height: 70%;
 }

 @include respond-to(small){
 height: 70%;
 }
}

/* NAVIGATION ARROWS */

#leftnavigation{
  text-align: center;
  color:  $white;
  width: 3%;
  background-color: rgba(85, 85, 85, 0.8);
  position: absolute;
  top: 50%;
  left: 0%;
  @include border-radius(0 5px 5px 0);
  &:hover{
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    border-width: 1px;
    border-color: $black;
    border-style: solid;
  }
}

#rightnavigation{
  text-align: center;
  color:  $white;
  width: 3%;
  background-color: rgba(85, 85, 85, 0.8);
  position: absolute;
  top: 50%;
  right: 0%;
  @include border-radius(5px 0 0 5px);
  &:hover{
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    border-width: 1px;
    border-color: $black;
    border-style: solid;
  }
}

// #nextstepbox{
//   text-align: right;
//   // background-color: grey;
//   @include col(5);
//   @extend .bottomnavigationbar;

//   @include respond-to(portrait){
//   @include col(5);
//   }

//   @include respond-to(small){
//   @include col(5);
//   font-size: .8em;
//   text-align: center;
//   @include box-sizing(border-box);
//   padding: 1em 1em 1em 1em;
//   }
// }

// #previousstepbox{
//   text-align: left;
//   @include col(5);
//   @extend .bottomnavigationbar;

//   @include respond-to(portrait){
//   @include col(5);
//   }

//   @include respond-to(small){
//   @include col(5);
//   font-size: .8em;
//   text-align: center;
//   @include box-sizing(border-box);
//   padding: 1em 1em 1em 1em;
//   }
// }

.bottomnavigationbar{
  @include box-sizing(border-box);
  padding: 0.5em 0 0.5em 0;
  // height: $lastrowheight;
  z-index: 101;
  display: none;
}


/* 7. MISC */


/* bottom rails things */ 
.bottom-actionlinks{
  float:left;
  @include col(12);
}


/* panel for sliding up */ 

#wrapperhung {
  position:absolute;
}

#lower {
  width: 80%;
  max-height: 60%; /* for iPhone */ 
  position: absolute;
  position: fixed; /* position fixed required to keep panel at bottom of page even when scrolling */ 
  bottom: 0px;
  margin-left: 10%;
  // margin-right: 10%;
}

#bar {
  padding: 10px;
  background-color: #aaaaaa;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#panel {
  background-color: #aaaaaa;
  display: none;
  padding: 10px;
/*  height: 100px; */
}

/* 8. OVERVIEW MODAL AND TABLE */

#trip-overview-modal{
  @include box-sizing(border-box);
  width: 98%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1%;
  margin-top: 2.5%;
  background-color: rgba(255,255,255,0.9);
  @include border-radius($myDivBorderRadius);
  border-color: $borderGray;

  .modal-header{
    border-bottom: $myDivBorderWidth solid $borderGray;
  }
  .modal-body{
    max-height: 73%;
  }
  .modal-footer{
    @include border-radius(0 0 $myDivBorderRadius $myDivBorderRadius);
    border-color: $borderGray;
    padding: 0.5em;

  }
}

.overview-button-wrapper{
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 2%;
  text-align: center;
}

/* overview table formatting */
tr.day_tr{
  background-color: $grayLight;
  font-weight: bold;
}

tr.morning_tr{
  background-color: #E7B15B;
  font-weight: bold;
}

tr.afternoon_tr{
  background-color: #5B94FA;
  font-weight: bold;
}

tr.evening_tr{
  background-color: #7291A1;
  font-weight: bold;
}

td.thumbnail_td{
  text-align: center;
  padding: 4px 0px;
}