/* STYLING FOR PUBLISHING PAGE
  1. PUBLIC PROFILE - AUTHOR STATS
  2. AUTHOR'S TRIPS
  3. AUTHOR POPOVER
*/

/* 1. PUBLIC PROFILE - AUTHOR STATS */
.author_profile_header_box{
 @include border-radius($myDivBorderRadius);
 border: $myDivBorderWidth solid $borderGray;
 @include box-sizing(border-box);
 float: left;
 position: relative;
 width: 100%;
 margin-bottom: 2%;
 height: 200px;
}

.author_profile_picture_div{
 width: 20%;
float: left;
 position: relative;
 margin-left: 0;
 height: 200px;
 overflow:hidden;
}

.author_profile_info_div{
 width: 80%;
 height: 100%;
 float: left;
 position: relative;
 p{
  margin:0;
  // font-size: em(16px);
  }
}

.ap_info_div_top{
  padding: 1% 2%;
  position: relative;
}

.ap_name_div{
  float: left;
  // display: inline-block;
  position: relative;
  // margin-left: 2%;
  width: 100%;
  @include box-sizing(border-box);
}

.ap_badge_div{
  float: left;
  position: relative;
  @include box-sizing(border-box);
  @include clearfix;
  padding-top: 3px;
  width: 50px;
}

.ap_float_left_span{
  float: left;
  position: relative;
  margin-left: 5px;
}

.author_profile_small_screen{
  @include respond-to(small){
    display:inline;
    font-size: 12px;
    float: none;
  }
}

.author_profile_stats{
  @include col(12);
  height: 15%;	
}

.author_profile_name{
  margin: 0;	
}

.author_profile_from{
  margin: 0;
  font-weight: normal;
}

.author_profile_about{
  margin: 0;
  line-height: 1.4em;
  display: inline-block;
}

.ap_id_top_right{
  width: 90%;
  float: left;
}

.ap_id_top_left{
  width: 10%;
  float: left;

}

/** Author Stats **/
.author_stats_box{
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 100%;
  // float: left;
  @include background-image(linear-gradient(top, #f6f6f6 0%,#e5e5e5 100%));	
  background-color: $myDivBg;
  padding: 0;
  margin: 0;
  border-top: $borderGray $myDivBorderWidth solid;
  // @include border-radius($myDivBorderRadius);
  @include box-sizing(border-box);

  li{
  	float: left;
  	display: inline;
  	min-width: 110px;
  	// height: 30px;
  	margin: 0;
  	padding: 1% 2%;
  	border-right: 1px solid #ccc;
  	@include box-sizing(border-box);
  	font-weight: bold;
  	color: gray;
  	text-align: center;
    font-size: em(12px);
    i.icon-heart{
      color: $red;
    }
    i.icon-eye-open{
      color: $black;
    }
  } 
  
  @include respond-to(small){
    border: $borderGray $myDivBorderWidth solid;
  }
}

.author_page_add_trip_btn{
  margin-bottom: 1%;
}

.ap_auth_img_tag{
  position: relative;
  max-width: none;
  width: 100%;
  overflow: hidden;
}


.small_creen_adjustment {
  @include respond-to(small){
    float:left !important;
    margin-left: 7px !important;
  }
}

/* 2. AUTHOR'S TRIPS  */
@import "Search/trip_results_single_containers";

