<div class="row span12 info_page_pill_nav">
<ul class="nav nav-pills pull-right">
  <%=nav_link("About", about_path)%>
  <%=nav_link("Privacy Policy", privacy_path)%>
  <%=nav_link("Terms of Service", tos_path)%>
</ul>
</div>