<header class="navbar navbar-inverse navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <%= link_to 'Chalo', trips_path, :class=>"brand", :id =>"homepagelink"%>

          <!-- The drop down menu -->
          <ul class="nav pull-left">
            <li class="divider-vertical"></li>
            <li class="dropdown">
<!--               <form class="navbar-search pull-left">
              <input type="text" class="search-query droptoggle_searchbar" placeholder="Where do you want to go?">
              </form> -->
                <%= select_tag :droptoggle_searchbar_id, options_from_collection_for_select(Location.find(:all), "location_id", "location_label", params[:place]), :multiple => false, :prompt => "Where would you like to go?", :class => "droptoggle_searchbar" %>

              <div class="dropdown-menu droptoggle_menu">
                <!-- Login form here -->
                <%= render 'trips/partials/nav_searchbar' %>
              </div>

            </li>
          </ul>
          <!-- End drop down menu -->

          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li><a href="#about" id="aboutlink">About</a></li>
            </ul>
    </div>
  </nav>
  <%= image_tag("/assets/spinners/ajax-loader-transparent.gif", :class => "swipe_loading_indicator_header") %>
</header> 