      <input type="checkbox" class="main-nav-check" id="main-nav-check" />
<nav class="main-nav" id="main-nav">
        
        <ul class="media-list" id="navswipe2">
          <li class="media selected" onclick="gallery.goToPage(0)">
            <img class="media-object" data-src="holder.js/160x120">
          </li>
          <% for i  in 1..(@trip.trip_activities.count)-1 %>
            <li class="media" onclick="gallery.goToPage(<%= i %>)">
              <img class="media-object" data-src="holder.js/160x120">
            </li>
          <% end %> 

        </ul>

</nav>  