      <input type="checkbox" class="main-nav-check" id="main-nav-check" />
<nav class="main-nav" id="main-nav">
  <ul class="media-list" id="filmstriplist">
          
          <li class="media">
            <img class="media-object" data-src="holder.js/160x120">
          </li>

          <li class="media">
            <img class="media-object" data-src="holder.js/160x120">
          </li>

          <li class="media">
            <img class="media-object" data-src="holder.js/160x120">
          </li>
          
          <li class="media">
            <img class="media-object" data-src="holder.js/160x120">
          </li>

          <li class="media">
            <img class="media-object" data-src="holder.js/160x120">
          </li>

          <li class="media">
            <img class="media-object" data-src="holder.js/160x120">
          </li>

          <li class="media">
            <img class="media-object" data-src="holder.js/160x120">
          </li>

          <li class="media">
            <img class="media-object" data-src="holder.js/160x120">
          </li>

          <li class="media">
            <img class="media-object" data-src="holder.js/160x120">
          </li>                     
          
          <li>
            <center><i class="icon-caret-down icon-2x"></i></center>
          </li>

        </ul>
</nav>  